{:linters {:clojure-lsp/unused-public-var {:level                   :warning
                                           :exclude                 #{dredd/judge}
                                           :exclude-when-defined-by #{dredd/judge}}}
 :lint-as {dredd/judge clj-kondo.lint-as/def-catch-all}}
